# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: npm
    directory: "/client"
    schedule:
      interval: monthly
    reviewers:
      - "Pugma"
    open-pull-requests-limit: 10
    commit-message:
      prefix: ":arrow_up: "
    groups:
      types:
        patterns:
          - "@types/*"
      formatter:
        patterns:
          - "*eslint*"
          - "*prettier*"
      patches:
        update-types:
          - "patch"

  - package-ecosystem: "gomod"
    directory: "/server"
    schedule:
      interval: monthly
    reviewers:
      - "Pugma"
    open-pull-requests-limit: 10
    commit-message:
      prefix: ":arrow_up: "
    groups:
      gomod-deps:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: docker
    directory: "/dockerfiles"
    schedule:
      interval: "monthly"
    reviewers:
      - "Pugma"
    open-pull-requests-limit: 10
    commit-message:
      prefix: ":arrow_up: "

  - package-ecosystem: github-actions
    directory: "/.github"
    schedule:
      interval: monthly
    reviewers:
      - "Pugma"
    open-pull-requests-limit: 10
    commit-message:
      prefix: ":arrow_up: "
    groups:
      actions-deps:
        patterns:
          - "*"
