:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color: $text-color;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100vw;
  height: 100vh;

  @include dark {
    color: $text-color-dark;
    background-color: $background-color-dark;
  }
}

a {
  font-weight: 500;
  // color: #646cff;
  text-decoration: inherit;
  color: $primary-color;

  @include dark {
    color: $primary-color-dark;
  }
}
a:hover {
  // color: #535bf2;
  :not(img) {
    border-bottom: solid 1px;
  }
}

body {
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font: {
    size: 1.5rem;
    weight: 700
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 100%;
  padding: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
