$primary-color: #a400ab;
$secondary-color: #5051f5;
$background-color: white;
$text-color: black;

$primary-color-dark: #f5befb;
$secondary-color-dark: #a0a0ff;
$background-color-dark: #111111;
$text-color-dark: white;
